<div app-header></div>
<section class="section">
    <div class="container">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="is-active"><a href="#!dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </div>
    <div class="container" ng-controller="dashboardController as dashboardCtrl">
        <div class="level is-mobile message" ng-repeat="message in dashboardCtrl.messages" ng-class="'is-'+message.type">
            <span class="message-body">{{message.text}}</span>
        </div>
        <div class="level">
            <div class="tile is-ancestor">
                <div class="tile is-8 is-vertical is-parent">
                    <div class="tile is-child card">
                        <div class="card-header">
                            <div class="card-header-title level is-mobile">
                                <div class="level-left">
                                    {{dashboardCtrl.user.nickname || dashboardCtrl.user._id}}
                                </div>
                                <div class="level-right">
                                    <button class="button is-white" ng-click="dashboardCtrl.toggleEditUser()"><span class="icon" ng-class="{'has-text-success':dashboardCtrl.isEditUser}"><i class="fas fa-fw" ng-class="{'fa-pencil-alt':!dashboardCtrl.isEditUser,'fa-check':dashboardCtrl.isEditUser}"></i></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="field">
                                <label class="label">ID</label>
                                <div class="control">
                                    <input class="input is-static" type="input" readonly ng-value="dashboardCtrl.user._id">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="input_nickname">Nickname</label>
                                <div class="control">
                                    <input class="input is-static" type="input" readonly ng-value="dashboardCtrl.user.nickname" ng-show="!dashboardCtrl.isEditUser">
                                    <input class="input" type="input" id="input_nickname" ng-model="dashboardCtrl.editedUser.nickname" ng-show="dashboardCtrl.isEditUser">
                                </div>
                            </div>
                            <div class="field" ng-show="dashboardCtrl.isEditUser">
                                <label class="label" for="input_password">Password</label>
                                <div class="control">
                                    <input class="input" type="password" id="input_password" ng-model="dashboardCtrl.editedUser.password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-child box">
                        <div class="panel">
                            Notebook
                        </div>
                    </div>
                </div>
                <div class="tile is-4">
                    Solutions
                </div>
            </div>
        </div>
    </div>
</section>
<div app-footer></div>